* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Dosis", sans-serif;
}
input {
  font-family: "Dosis", sans-serif;
}
textarea {
  font-family: "Dosis", sans-serif;
}
.nav__bar {
  font-family: "Dancing Script", cursive;
}
.header__img {
  background-image: url("./pictures/barPic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__center {
  width: 90vw;
  margin: 0 auto;
}
.btn {
  border: none;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}
.active {
  background-color: #ad4300 !important;
  color: #fff !important;
}
