* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
input,
textarea {
  font-family: "Dosis", sans-serif;
}

.nav__bar {
  font-family: "Dancing Script", cursive;
}
.header__img {
  background-image: url("./pictures/barPic.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section__center {
  width: 90vw;
  margin: 0 auto;
}
.btn {
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}
.active {
  background-color: #ad4300 !important;
  color: #fff !important;
}
@media screen and (max-width: 963px) {
  .cart__wrapper {
    width: 50vw !important;
  }
}
@media screen and (max-width: 492px) {
  .cart__wrapper {
    width: 55vw !important;
  }
}
@media screen and (max-width: 385px) {
  .cart__wrapper {
    width: 70vw !important;
  }
}
@media screen and (max-width: 317px) {
  .cart__wrapper {
    width: 80vw !important;
  }
}
