* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
input,
textarea {
  font-family: "Oswald", sans-serif;
}
p {
  font-family: "EB Garamond", serif;
  color: #b1b1b1;
  line-height: 1.5;
}
.header__img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), #000),
    url("./pictures/barPic2.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  background-image: url("https://images.getbento.com/accounts/b407703cbc06b7de17a1aab05567665c/media/images/90545bg_finished.png");
}
.section__center {
  width: 90vw;
  margin: 0 auto;
}
.btn {
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}
.active {
  background-color: #fff !important;
  color: #000 !important;
}
